html(lang="en")
  head
    meta(charset="UTF-8")
    title Systems Project Management
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/css/home.css")
  body
    nav.mnb.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            i.ic.fa.fa-bars
          div(style="padding: 15px 0;")
            a#msbo(href="#")
              i.ic.fa.fa-bars
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/logout") Logout
    .msb#msb
      nav.navbar.navbar-default(role="navigation")
        .navbar-header
          .brand-wrapper
            .brand-name-wrapper
              a.navbar-brand(href="#") SYSTEMS
        .side-menu-container
          ul.nav.navbar-nav
            each org in organizations.data
                li
                    a(href=`/organization/${org.id}`) #{org.name}
    .mcw
      .cv
        h2 Welcome Back!
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="assets/js/home.js")
